* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gameboard {
  height: 500px;
  width: 500px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.gameboard .cell {
  border: 1px solid black;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.493);
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  background-color: #fff;
  z-index: 1;
  height: 500px;
  width: 500px;
}
