@font-face {
  font-family: urbanist;
  src: url(./Urbanist-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'ZCOOL KuaiLe';
  src: url(./ZCOOLKuaiLe-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #43334e;
  background-color: #c79ce5;
  font-size: 4rem;
  font-family: urbanist, sans-serif;
  letter-spacing: 0.12rem;
}

input,
button {
  font-family: inherit;
  color: inherit;
  letter-spacing: inherit;
}
input {
  font-size: 3rem;
  background-color: #43334e33;
  color: #43334e;
  border: none;
  border-radius: 15px;
  padding: 3px;
  text-align: center;
}
input::placeholder {
  color: rgba(255, 255, 255, 0.35);
}
*:focus {
  outline: none;
}
label {
  cursor: pointer;
  font-size: 3rem;
}

button {
  padding: 10px 40px;
  border: none;
  background-color: #c79ce5;
  font-size: 3rem;
  cursor: pointer;
}

h1 {
  font-size: 4rem;
  color: #43334e;
  padding: 50px;
  font-family: 'ZCOOL KuaiLe';
  letter-spacing: 1rem;
}

.main-display {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 80px;
  /* height: 80vh; */
}

.start-two-player {
  width: 25vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  justify-content: center;
}

.start-two-player > * {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.gameboard {
  height: 50vh;
  width: 25vw;
  border: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 6px;
  background-color: #43334e;
}

.gameboard .cell {
  border: none;
  background-color: #c79ce5;
  font-size: 7rem;
  color: #43334e;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.hidden {
  display: none;
}

.header {
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.overlay-text {
  position: absolute;
  z-index: 1;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  text-align: center;
  font-size: 5rem;
  text-transform: capitalize;
}

.scoreboard-player-one,
.scoreboard-player-two {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-evenly;
}

.visibility-hidden {
  visibility: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.cell:hover {
  /* border: 10px solid #43334e; */
  /* border-radius: 15px; */
  background-color: #b18dc9;
}

.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 2rem;
  height: 8vh;

  width: 100%;
}

a {
  text-decoration: none;
}
a:visited {
  color: #43334e;
}
