* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #364954;
}

h1 {
  font-size: 4rem;
  padding: 50px;
}

.main-display {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.main-display > * {
  border: 1px solid #000;
}

.start-two-player {
  width: 500px;
  height: 500px;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.start-two-player > * {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.gameboard {
  height: 500px;
  width: 500px;
  border: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  background-color: #364954;
}

.gameboard .cell {
  border: none;
  background-color: #00bef8;
  font-size: 7rem;
  color: #364954;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.hidden {
  display: none;
}

.overlay-text {
  position: absolute;
  z-index: 1;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  text-align: center;
  font-size: 5rem;
  text-transform: capitalize;
  border: 1px solid white;
}
